{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="custom-form-container col-12 col-lg-10 p-4">
            <h1 class="mb-3">{% trans "Update user info" %}</h1>
            <form method="post" class="card bg-light p-3">
                {% csrf_token %}

                <div class="mb-2">
                    <label class="mb-1" for="id_first_name">{% trans "Name" %}</label>
                    {{ form.first_name }}
                </div>

                <div class="mb-2">
                    <label class="form-label mb-1" for="id_last_name">{% trans "Surname" %}</label>
                    {{ form.last_name }}
                </div>

                <div class="mb-2">
                    <label class="form-label mb-1" for="id_username">{% trans "Имя пользователя" %}</label>
                    {{ form.username }}
                    <div class="form-text small mt-0">
                        {% trans "* Required field. No more than 150 characters. Only letters, numbers, and symbols @/./+/-/_." %}
                    </div>
                    </div>

                <div class="mb-2">
                    <label class="form-label mb-1" for="id_password1">{% trans "Password" %}</label>
                    {{ form.password1 }}
                    <div class="form-text small mt-0">
                        {% trans "* Your password must contain at least 3 characters." %}
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label mb-1" for="id_password2">{% trans "Password confirmation" %}</label>
                    {{ form.password2 }}
                    <div class="form-text small mt-0">
                        {% trans "* Please repeat the password again" %}
                    </div>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">{% trans "Update info" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}