{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="custom-form-container col-12 col-lg-10 p-4">
            <h1 class="mb-3">{% trans "Delete user" %}</h1>
            <form method="post" class="card p-3">
                {% csrf_token %}
                <p>{% trans "Are you sure you want delete" %} {{ user.first_name }} {{ user.last_name }} ?</p>
                <div class="d-grid">
                    <button type="submit" class="btn btn-danger">{% trans "Delete user" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}