{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="card mt-5 mx-5">
    <div class="card-body">
<div class="container">
    <div class="row justify-content-center">
        <div class="custom-form-container col-12 col-lg-10 p-4">
            <h1 class="my-4">{% trans "Task manager" %}</h1>
            {% get_current_language as LANGUAGE_CODE %}
            <h1>{{ LANGUAGE_CODE }}</h1>
            <h4>{% trans "Task Manager is a task management system. It allows you to set tasks, assign performers, and change their statuses. Registration and authentication are required to work with the system." %}</h4>
            <h4><a href="https://en.wikipedia.org/wiki/Task_management">{% trans "Learn more about task managers" %}</a></h4>
        </div>
    </div>
</div>
</div>
    </div>

{% endblock %}