name: Coverage

on:
  push:
    branches: [ main ]

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip uv
        uv pip install coverage

    - name: Run tests with coverage
      run: |
        uv run coverage xml   # Замените на вашу команду запуска тестов

    - name: Upload to qlty.sh
      run: |
        curl -X POST \
          -H "Authorization: Bearer ${{ secrets.QLTY_TOKEN }}" \
          -F "coverage=@coverage.xml" \
          https://qlty.sh/gh/marentsov/python-project-52/coverage